{% extends 'base.html.twig' %}

{% block title %}p4 Registration platform.{% endblock %}

{% block javascripts %}

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.0/dist/umd/popper.min.js"></script>
    <script src="{{ asset('assets/BsMultiSelect.min.js.js') }}"></script>
{#    <script src="{{ asset('assets/BsMultiSelect.esm.min.js.js') }}"></script>#}

{% endblock %}

{% block head %}

    <link rel="stylesheet" href="{{asset('assets/BsMultiSelect.min.css')}}">
    <script>

        $(document).ready(function () {
            $("select[multiple='multiple']").bsMultiSelect();
            // $('.selectpicker').multiselect({
            //     enableFiltering: true,
            //     templates: {
            //         filter: '<div class="multiselect-filter"><div class="input-group input-group-sm p-1"><div class="input-group-prepend"><i class="input-group-text fas fa-search"></i></div><input class="form-control multiselect-search" type="text" /><div class="input-group-append"><button class="multiselect-clear-filter input-group-text" type="button"><i class="fas fa-times"></i></button></div></div></div>'
            //     }
            // });
        });

    </script>
    <style>


        .kv-avatar .krajee-default.file-preview-frame, .kv-avatar .krajee-default.file-preview-frame:hover {
            margin: 0;
            padding: 0;
            border: none;
            box-shadow: none;
            text-align: center;
        }

        .kv-avatar {
            display: inline-block;
        }

        .kv-avatar .file-input {
            display: table-cell;
            width: 213px;
        }

        .kv-reqd {
            color: red;
            font-family: monospace;
            font-weight: normal;
        }

        @media (min-width: 576px) {
            .card-columns {
                column-count: 1;
            }
        }

        @media (min-width: 768px) {
            .card-columns {
                column-count: 1;
            }
        }

        @media (min-width: 992px) {
            .card-columns {
                column-count: 1;
            }
        }

        @media (min-width: 1200px) {
            .card-columns {
                column-count: 3;
            }
        }

        .multiselect-native-select {
            display: block;
        }
    </style>
{% endblock head %}

{% block bodystyle %}style="background-color: transparent;"{% endblock bodystyle %}
{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>



<div class="container">
{#    <main>#}
{#        <div class="py-5 text-center" >#}
{#            <img class="d-block mx-auto mb-4" style="background: #00acd6" src="{{ asset('assets/img.png') }}" alt="" >#}
{#            <h2>Registration form</h2>#}
{#            <p class="lead">{{ event.title }}!</p>#}
{#        </div>#}

{#    </main>#}

    <section>
        <div class="row">
            <div class="col-sm-6 col-lg-8 themed-grid-col">

                {{ form(attendForm) }}

            </div>
            <div class="col-6 col-lg-4 themed-grid-col">

                {% if attenders|length > 0 %}
                    <h3>Our network for upcoming event</h3>
                {% endif %}
                <div class="cards">
                    {% for attender in attenders %}

                        {% if attender.allowToShare %}

                            <div class="card card-w75" style="width: 16rem">
                                {% if attender.avatarFilename|length > 3 %}
                                    <img
                                            onerror="$(this).hide();"
                                            class="card-img-top"
                                            src="https://bjn2020.s3.eu-central-1.amazonaws.com/{{ attender.avatarFilename }}"
                                            alt="{{ attender.getFullName() }}"
                                    >
                                {% endif %}
                                <div class="card-body">
                                    <h5 class="card-title">{{ attender.getFullName() }}</h5>
                                    <p class="card-text">
                                        {{ attender.getFieldOfWork() }}<br>
                                        {{ attender.getJobTitle() }}<br>
                                    </p>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
</div>


{% endblock %}
