{% extends 'base.html.twig' %}

{% block title %}Hello HappeningController!{% endblock %}
{% block head %}


    <!-- Latest compiled and minified JavaScript -->
{#    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>#}
    <!-- (Optional) Latest compiled and minified JavaScript translation files -->
{#    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/i18n/defaults-en.min.js"></script>#}

    <script>
        $(function () {
            $('select').select2();;
        });
    </script>
{% endblock head %}
{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="container">
        <h1>{{ event.title }}!</h1>
        <div class="row">
            <div class="col-lg-8 col-md-8">{{ form(attendForm) }}</div>
            <div class="col-md-4 col-lg-8">
                {% if attenders|length > 0 %}
                <h3>Already apply</h3>
                {% endif %}
                <div class="card-group">
                {% for attender in attenders %}

                    <div class="card" style="width: 18rem; margin-bottom: 20px">
                        <img
                                class="card-img-top"
                                src="/uploads/avatars/{{ attender.avatarFilename }}"
                                alt="{{ attender.getFullName() }}"
                        >
                        <div class="card-body">
                            <h5 class="card-title">{{ attender.getFullName() }}</h5>
                            <p class="card-text">
                                {{ attender.getFieldOfWork() }}<br>
                                {{ attender.getJobTitle() }}<br>

{#                                <span class="badge badge-secondary">#}
{#                                    #}
{#                                </span>#}
                            </p>

{#                            <a href="{{ path('happening', {'id': h.id}) }}" class="btn btn-primary">Apply</a>#}
                        </div>
                    </div>



{#                    <div>#}
{#                        {{ attender.id }}#}


{#                        {{ dump(attender.avatarFilename) }}#}
{#                        {{ dump(attender) }}#}

{#                    </div>#}
                {% endfor %}
                </div>
            </div>
        </div>


        <hr>


    </div>
{% endblock %}
